<section id="aboutMeSection">
    <div class="container">        
        <div class="text-container">
            <div class="text-border fade-and-move-in" id="textBorderTop"></div>

            <h1 class="text-item fade-and-move-in">
                About Me
            </h1>
            <div class="text-item fade-and-move-in">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</div>
            <div class="text-item fade-and-move-in">Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</div>            

            <div class="text-border fade-and-move-in" id="textBorderBottom"></div>
        </div>        

        <img src="../../assets/female_pointing.png" id="femalePointing" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal" data-section="sectionTwo"/>
        <img src="../../assets/man_pointing.png" id="malePointing" name="parallax" data-rateY="0" data-rateX="-0.5" data-direction="horizontal" data-section="sectionTwo"/>
    </div>
</section>




<!-- Animal Parallax -->
<!-- <section>
    <div class="container">
        <div name="parallax" data-rate="0.2" data-direction="vertical" data-section="sectionTwo" class="text-container">
            <h1 class="text-item">
                Test Heading
            </h1>
            <em class="text-item">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.
            </em>
        </div>
        <span id="giraffe" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal" data-section="sectionTwo"></span>
        <span id="panda" name="parallax" data-rateY="0" data-rateX="-0.5" data-direction="horizontal" data-section="sectionTwo"></span>
        <span id="bubble" name="parallax" data-rateY="0" data-rateX="-0.5" data-direction="horizontal" data-section="sectionTwo"></span>
    </div>
</section> -->