<section id="textTransitionSection">
    <div class="text-container">
        <div class="your-text-mask">
            <h1 id="yourText" name="text" data-offset=0>You're&nbsp;&nbsp;&nbsp;You're</h1>
        </div>
        <div class="almost-text-mask">
            <h1 id="almostText" name="text" data-offset=150>Almost&nbsp;Almost</h1>
        </div>
        <div class="there-text-mask">
            <h1 id="thereText" name="text" data-offset=250>There&nbsp;&nbsp;&nbsp;There</h1>
        </div>
        <div class="keep-text-mask">
            <h1 id="keepText" name="text" data-offset=375>Keep&nbsp;&nbsp;&nbsp;Keep</h1>
        </div>
        <div class="scrolling-text-mask">
            <h1 id="scrollingText" name="text" data-offset=550>Scrolling&nbsp;Scrolling</h1>
        </div>
    </div>
</section>