<div class="navbar" id="navigationBar">
    <div class="active link" id="mainMobileLink" (click)="scrollToSecton('homeSection', $event)">
        Conor's Resume Website
    </div>

    <a class="icon" (click)="showMobileMenu()">
        <i class="fa fa-bars"></i>
    </a>

    <div id="links">
        <div id="home" class="link" (click)="scrollToSecton('homeSection', $event)">Home</div>
        <div id="about" class="link" (click)="scrollToSecton('aboutMeSection', $event)">About</div>        
        <div id="skill" class="link" (click)="scrollToSecton('skillsSection', $event)">Skills</div>
        <div id="contact" class="link" (click)="scrollToSecton('contactSection', $event)">Contact</div>
        <div id="resume" class="link" (click)="scrollToSecton('resumeSection', $event)">Resume</div>
    </div>
</div>