.navbar {
    width: 100%;
    background-color: beige;
    
    /* overflow: auto; */
    overflow-y: auto;
    overflow-x: hidden;

    position: fixed;
    z-index: 1000;
    border-bottom: 3px solid #CC5500;
    white-space: nowrap;
}
  
.link {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-family: "Oswald";
    font-size: 3vw;
    width: 16%;
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #CC5500;
    margin-block: 0px;
    color: beige;
    text-transform: uppercase;
    transition: color 0.2s;
    cursor: pointer;
}
  
.link:hover {
    color: #CC5500;
}

.link.active {
    color: #CC5500;
}
  
.navbar a.icon {
    display: none;            
    margin-top: -10.25%;
    margin-left: 3%;
    float: left;
    font-size: 6vw;
    width: 5%;
    text-align: center;
    font-weight: 700;
    color: #CC5500;
    cursor: pointer;
}

#links.closed {
    display: block;
}

#mainMobileLink {
    display: none;
    text-align: center;
    text-shadow: 2px 2px 0 #CC5500;
    font-weight: 700;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #CC5500;
    color: #F5F5DC;
    margin-block: 0px;
}

@media screen and (min-width: 1300px) {
    .link {
        font-size: 50px;
    }
}

@media screen and (max-width: 750px) {
    #mainMobileLink {
        display: block;
    }

    #links {
        display: none;
    }

    #links.opened {
        display: block;
    }
    
    #links.closed {
        display: none;
    }

    .link {
        display: block;
        width: 100%;
        font-size: 7vw;
    }

    .navbar a.icon {
        display: block;
    }
}

@media screen and (max-width: 400px) {    
    .link {
        width: 95%;
    }
}