<div class="navbar" id="navigationBar">
    <div class="active link" (click)="scrollToSecton('homeSection', $event)">Home</div>
    <div class="link" (click)="scrollToSecton('aboutMeSection', $event)">About</div>
    <div class="link" (click)="scrollToSecton('workExperienceSection', $event)">Work</div>
    <div class="link" (click)="scrollToSecton('skillsSection', $event)">Skills</div>
    <div class="link" (click)="scrollToSecton('contactSection', $event)">Contact</div>
    <div class="link" (click)="scrollToSecton('resumeSection', $event)">Resume</div>
</div>