<section id="contactSection">
    <div class="picture-frame swingimage"
         style="left: 11.5%;"
         id="pictureFrame"
         name="parallax"
         data-section="sectionThree">
         <span class="phone" id="femalePhone"></span>
    </div>

    <div class="picture-frame swingimage"
         style="right: 11.5%; animation-direction: reverse"
         id="pictureFrame2"
         name="parallax"
         data-section="sectionThree">
         <span class="phone" id="malePhone"></span>
    </div>
</section>