<section id="contactSection">
    <div class="text-container">
        <h1 class="text-item fade-and-move-in">
            Contact
        </h1>
        <div class="text-item fade-and-move-in">You can contact me at any of the following:</div>          
        <!-- <div class="contact-container fade-and-move-in">
            <i class="fab fa-instagram"><span class="icon-text">Instagram</span></i>
            <i class="fab fa-facebook-square"><span class="icon-text">Facebook</span></i>
            <i class="fab fa-linkedin"><span class="icon-text">LinkedIn</span></i>
            <i class="fab fa-github"><span class="icon-text">Github</span></i>
        </div> -->
    </div>

    <!-- <div> -->
        <div class="frame-container">
            <img src="../../assets/empty_frame_with__white_background.png" id="linkedinPictureFrame" class="swing-image" name="parallax" data-section="sectionThree"/>
            <div class="picture-content-container">
                <i class="fab fa-linkedin"></i>
                <div class="icon-text">LinkedIn</div>
            </div>
        </div>
        <div class="frame-container">
            <img src="../../assets/empty_frame_with__white_background.png" id="facebookPictureFrame" class="swing-image" name="parallax" data-section="sectionThree"/>
            <div class="picture-content-container">
                <i class="fab fa-facebook-square"></i>
                <div class="icon-text">Facebook</div>
            </div>
        </div>
        <div class="frame-container">
            <img src="../../assets/empty_frame_with__white_background.png" id="instagramPictureFrame" class="swing-image" name="parallax" data-section="sectionThree"/>
            <div class="picture-content-container">
                <i class="fab fa-instagram"></i>
                <div class="icon-text">Instagram</div>
            </div>
        </div>
        <div class="frame-container">
            <img src="../../assets/empty_frame_with__white_background.png" id="githubPictureFrame" class="swing-image" name="parallax" data-section="sectionThree"/>
            <div class="picture-content-container">
                <i class="fab fa-github"></i>
                <div class="icon-text">Github</div>
            </div>
        </div>
    <!-- </div> -->

    <!-- <img src="../../assets/male_picture_frame.png" id="malePictureFrame" class="swing-image" name="parallax" data-section="sectionThree"/>
    <img src="../../assets/female_picture_frame.png" id="femalePictureFrame" class="swing-image" name="parallax" data-section="sectionThree" /> -->
</section>