/* Bootstrap Refactor */
@-webkit-keyframes swinging {            
    0%{-webkit-transform: rotate(0deg);}
    20%{-webkit-transform: rotate(10deg);}
    40%{-webkit-transform: rotate(-10deg);}
    60%{-webkit-transform: rotate(5deg);}
    80%{-webkit-transform: rotate(-5deg);}
    100%{-webkit-transform: rotate(0deg);} 
}

@keyframes swinging {
    0%{transform: rotate(0deg);}
    20%{transform: rotate(10deg);}
    40%{transform: rotate(-10deg);}
    60%{transform: rotate(5deg);}
    80%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);} 
}

.swing-image {    
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 2.25s ease-in-out forwards infinite;
    animation: swinging 2.25s ease-in-out forwards infinite;
}

img {
    filter: drop-shadow(12px 12px 8px grey);
}

#facebookPictureFrame, #githubPictureFrame {
    animation-direction: reverse;
}

h1 {
    font-size: 4rem;
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
    color: #CC5500;
}

p {
    font-family: 'Oswald';    
    font-weight: 400;    
    font-size: 1.5rem;
    color: black;
}

@media (min-width: 576px)
{
    .container-sm {
        max-width: 505px;
    }
}

@media (max-width: 576px) {
    .fab, .fas {
        font-size: 28vw !important;
    }

    .icon-text {
        font-size: 6vw !important;
    }

    img {
        filter: drop-shadow(6px 6px 8px grey);
    }

    p {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 992px)
{
    .container-sm {
        max-width: 960px;
        height: 88% !important;
    }

    h1 {
        font-size: 5rem !important;
    }

    #icon-container > .fab, #icon-container > .fas {
        font-size: 9rem;
    }

    #header-row {
        margin-bottom: 2rem !important;
    }
}

@media (min-width: 1200px)
{
    .container-sm {
        max-width: 1140px;
    }

    #icon-container > .fab, #icon-container > .fas {
        font-size: 11rem;
    }
}



/* Image Icon Styling */

.fab, .fas {
    font-size: 11rem;    
}

.fab:hover, .fas:hover, #icon-container:hover {
    color: #CC5500;    
}

a {
    text-decoration: none;
}

.icon-overlay {
    position:absolute;
    top:25%;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 5;
    width:100%;
    text-align:center;
}

#icon-container {
    color: #64021B;
}

.icon {
    width:90%;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

.icon-text {
    font-family: 'Oswald';
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}
/* Bootstrap Refactor */




/* @-webkit-keyframes swinging {            
    0%{-webkit-transform: rotate(0deg);}
    20%{-webkit-transform: rotate(10deg);}
    40%{-webkit-transform: rotate(-10deg);}
    60%{-webkit-transform: rotate(5deg);}
    80%{-webkit-transform: rotate(-5deg);}
    100%{-webkit-transform: rotate(0deg);} 
}

@keyframes swinging {
    0%{transform: rotate(0deg);}
    20%{transform: rotate(10deg);}
    40%{transform: rotate(-10deg);}
    60%{transform: rotate(5deg);}
    80%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);} 
}

.swing-image {
    -webkit-transform-origin: center 45%;
    transform-origin: center 45%;
    -webkit-animation: swinging 2.25s ease-in-out forwards infinite;
    animation: swinging 2.25s ease-in-out forwards infinite;
}

.frame-container {
    height: 60vw;
    width: 120vw;
    position: relative;
    max-width: 20%;
    margin-bottom: 0vw;
    z-index: 2;
}

img {
    width: 100%;
    filter: drop-shadow(12px 12px 8px grey);
    max-height: 50%;
    max-width: 70%;
    position: absolute;
    top: 47%;
    z-index: 2;
    left: 4vw;
}

#facebookPictureFrame {
    animation-direction: reverse;
}

#githubPictureFrame {
    animation-direction: reverse;
}

.picture-content-container {
    display: inline-grid;
    width: 12vw;
    justify-items: center;
    position: absolute;
    top: 56%;
    left: 24.5%;
    z-index: 2;
    transition: color 0.2s;
    color: #64021B;
}

.fab, .fas {
    font-size: 9vw;
}

.picture-content-container > i {
    grid-column: 1;
    grid-row: 1;
}

.text-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    z-index: 1;
    position: absolute;
    padding-bottom: 27vw;
    margin-top: 3vw;
}

.text-container > div {
    font-family: 'Oswald';
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    color: black;
    margin-top: 1vw;
}

h1 {
    font-size: 7vw;
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3em;
    text-align: center;
    color: #CC5500;
}
  
.fab:hover, .fas:hover, .picture-content-container:hover {
    color: #CC5500
}

.icon-text {
    grid-column: 1;
    grid-row: 2;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 800;
    line-height: 5vw;
}

@media (max-width: 1250px) {
    .text-container {
        padding-bottom: 38vw;
    }

    h1 {
        font-size: 9vw;
    }

    .text-container > div {
        font-size: 3vw;
    }
}

@media (max-width: 500px) {
    .text-container {
        padding-bottom: 27vw;
        margin-top: -27vw;
    }
    
    h1 {
        font-size: 12vw;
        line-height: 1.5;
        margin-block-end: 0;
        margin-top: 0;
    }

    .text-container > div {
        font-size: 4.5vw;
        margin-top: 0em;
    }

    img {
        filter: drop-shadow(6px 6px 8px grey);
    }
} */