<section id="contactSection">
    <div class="text-container">
        <h1 class="fade-and-move-in">
            Contact
        </h1>
        <div class="fade-and-move-in">If you'd like to contact me, please feel free to reach out to me on any of the following platforms:</div>
    </div>
    <div class="frame-container swing-image" id="linkedinPictureFrame" name="pictureFrame">
        <img src="../../assets/empty_frame_with_cream_background.png" name="parallax" data-section="sectionThree"/>
        <a target="_blank" href="https://www.linkedin.com/in/conor-walsh-96b47a151/">
            <div class="picture-content-container">
                <i class="fab fa-linkedin"></i>
                <div class="icon-text">LinkedIn</div>
            </div>        
        </a>
    </div>
    <div class="frame-container swing-image" id="facebookPictureFrame" name="pictureFrame">
        <img src="../../assets/empty_frame_with_cream_background.png" name="parallax" data-section="sectionThree"/>
        <a target="_blank" href="https://www.facebook.com/conor.walsh.568/">
            <div class="picture-content-container">
                <i class="fab fa-facebook-square"></i>
                <div class="icon-text">Facebook</div>
            </div>    
        </a>
    </div>
    <div class="frame-container swing-image" id="instagramPictureFrame" name="pictureFrame">
        <img src="../../assets/empty_frame_with_cream_background.png" name="parallax" data-section="sectionThree"/>
        <a target="_blank" href="https://www.instagram.com/walshioh/?hl=en">
            <div class="picture-content-container">
                <i class="fab fa-instagram"></i>
                <div class="icon-text">Instagram</div>
            </div>        
        </a>
    </div>
    <div class="frame-container swing-image" id="githubPictureFrame" name="pictureFrame">
        <img src="../../assets/empty_frame_with_cream_background.png" name="parallax" data-section="sectionThree"/>                
        <a target="_blank" href="https://github.com/ConorWalsh18">
            <div class="picture-content-container">
                <i class="fab fa-github"></i>
                <div class="icon-text">Github</div>
            </div>
        </a>
    </div>
</section>