/* #contactSection {
    background: pink;
} */

@-webkit-keyframes swinging {            
    0%{-webkit-transform: rotate(0deg);}
    20%{-webkit-transform: rotate(10deg);}
    40%{-webkit-transform: rotate(-10deg);}
    60%{-webkit-transform: rotate(5deg);}
    80%{-webkit-transform: rotate(-5deg);}
    100%{-webkit-transform: rotate(0deg);} 
}

@keyframes swinging {
    0%{transform: rotate(0deg);}
    20%{transform: rotate(10deg);}
    40%{transform: rotate(-10deg);}
    60%{transform: rotate(5deg);}
    80%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);} 
}

.swing-image {
    -webkit-transform-origin: center 45%;
    transform-origin: center 45%;
    -webkit-animation: swinging 2.25s ease-in-out forwards infinite;
    animation: swinging 2.25s ease-in-out forwards infinite;
}

.frame-container {
    height: 60vw;
    width: 120vw;
    position: relative;
    max-width: 20%;
    margin-bottom: 0vw;
}

img {
    width: 100%;
    filter: drop-shadow(12px 12px 8px grey);
    max-height: 50%;
    max-width: 70%;
    position: absolute;
    top: 47%;
    z-index: 2;
    left: 4vw;
}

/* #linkedinPictureFrame {
    
} */

#facebookPictureFrame {
    animation-direction: reverse;
}

/* #instagramPictureFrame {

} */

#githubPictureFrame {
    animation-direction: reverse;
}

.picture-content-container {
    display: inline-grid;
    width: 12vw;
    justify-items: center;
    position: absolute;
    top: 56%;
    left: 24.5%;
    z-index: 2;
    transition: color 0.2s;
    color: #64021B;
    /* color: #CC5500; */
}

.fab, .fas {
    font-size: 9vw;
}

.picture-content-container > i {
    grid-column: 1;
    grid-row: 1;
}

.text-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    z-index: 1;
    position: absolute;
    margin-bottom: 27vw;
    margin-top: 3vw;
}

.text-container > div {
    font-family: 'Oswald';
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    color: black;
    margin-top: 1vw;
}

h1 {
    font-size: 7vw;
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3em;
    text-align: center;
    color: #CC5500;
}
  
.fab:hover, .fas:hover, .picture-content-container:hover {
    color: #CC5500
}

.icon-text {
    grid-column: 1;
    grid-row: 2;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 800;
    line-height: 5vw;
}

@media (max-width: 1250px) {
    .text-container {
        margin-bottom: 38vw;
    }

    h1 {
        font-size: 9vw;
    }

    .text-container > div {
        font-size: 3vw;
    }
}

@media (max-width: 500px) {
    .text-container {
        /* margin-bottom: 60vw; */
        margin-bottom: 27vw;
        margin-top: -27vw;
    }
    
    h1 {
        font-size: 12vw;
        line-height: 1.5;
        margin-block-end: 0;
        margin-top: 0;
    }

    .text-container > div {
        font-size: 4.5vw;
        /* margin-top: 7vw; */
        margin-top: 0em;
    }

    img {
        filter: drop-shadow(6px 6px 8px grey);
    }
}

/* 
.text-container[_ngcontent-jun-c9] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    z-index: 1;
    position: absolute;
    margin-bottom: 27vw;
    margin-top: -31vw;
}

h1[_ngcontent-jun-c9] {    
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.3em;
}
 */