<!-- TODO: Decide if we should just make the background beige for the whole site or not -->
<!-- TODO: Maybe turn some of these elements into their own components (e.g. the picture frame) -->

<!-- <section style="background-color: beige">
    <h1 style="color: #CC5500">First Page</h1>
</section> -->

<landing-page></landing-page>

<section style="background-color: beige">
    <div class="container">
        <div></div>
        <div name="parallax" data-rate="0.2" data-direction="vertical" data-section="sectionTwo" class="text-container">
            <h1 class="text-item">
                Test Heading
            </h1>            
            <p class="text-item">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.
            </p>
        </div>
        <span id="giraffe"
             name="parallax"
             data-rateY="0"
             data-rateX="0.5"
             data-direction="horizontal"
             data-section="sectionTwo">
        </span>
        <span id="panda"
              name="parallax"
              data-rateY="0"
              data-rateX="-0.5"
              data-direction="horizontal"
              data-section="sectionTwo">
        </span>
        <span id="bubble"
              name="parallax"
              data-rateY="0"
              data-rateX="-0.5"
              data-direction="horizontal"
              data-section="sectionTwo">
        </span>
    </div>
</section>

<section style="background-color: beige">
    <div class="picture-frame swingimage"
         style="left: 11.5%;"
         id="pictureFrame"
         name="parallax"
         data-section="sectionThree">
         <span class="phone" id="femalePhone"></span>
    </div>

    <div class="picture-frame swingimage"
         style="right: 11.5%; animation-direction: reverse"
         id="pictureFrame2"
         name="parallax"
         data-section="sectionThree">
         <span class="phone" id="malePhone"></span>
    </div>
</section>

<section style="background-color: beige">
    <!-- <h1 style="color: #CC5500">Fourth Page</h1> -->
    <div id="face"></div>
    <div></div>
</section>