<!-- PAGE LAYOUT (WIP) -->
<!-- Landing Page -->
<!-- About Me -->
<!-- Arrow Transition -->
<!-- Work Experience -->
<!-- Parallax Image Transition -->
<!-- Skills -->
<!-- Text Transition -->
<!-- Contact Me (picture frames page) -->
<!-- Resume (download page) -->


<!-- TODO: Add ngIfs to a few of these components to render them once we reach a certain screen position -->
<!-- TODO: Add in more logic to the navbar to change the header when scrolling to a new section/on page load -->


<navigation-bar></navigation-bar>

<alternative-landing-page></alternative-landing-page>

<about-me></about-me>

<arrow-transition></arrow-transition>

<work-experience></work-experience>

<image-transition></image-transition>

<static-skills></static-skills>

<text-transition></text-transition>

<contact></contact>

<resume-download></resume-download>