<!-- PAGE LAYOUT (WIP) -->
<!-- Landing Page -->
<!-- About Me -->
<!-- Skills (potentially move this below work experience if we want to reposition things)-->
<!-- Work Experience -->
<!-- School (potentially add this page) -->
<!-- Contact Me (picture frames page) -->
<!-- Resume (download page) -->

<!-- TODO: NEED to fix the resizing issue with some of the elements (e.g. the text on the landing page).
           Adding width: auto might be the best call for some of these resizing issues. For the text be
           sure to change the font-size to use vw instead of px since vw scales with the view as well as
           making for @media screen classes.-->
<!-- TODO: Make the background color gradually change smoothly as you scroll -->
<!-- TODO: Maybe turn some of these elements into their own components (e.g. the picture frame) -->
<!-- TODO: Adjust the swinging animation for the picture frames so they're more smooth -->
<!-- TODO: Remove a lot of the effects and animations at a certain width/height so everything fits -->
<!-- TODO: Maybe make the skills page a shorter -->

<!-- NOTE: Use px instead of vh or vw for parallax functionality -->

<!-- <landing-page></landing-page> -->
<alternative-landing-page></alternative-landing-page>

<!-- <div class="section-seperator"></div> -->

<about-me></about-me>

<!-- <skills></skills> -->
<alternative-skills></alternative-skills>

<work-experience></work-experience>

<contact></contact>

<section>
    <h1>Resume Page</h1>
</section>