#skillsSection {
    height: 100vh;
    z-index: 0;
    
    /* Use this z-index if you want to use the fade-in animation */
    /* z-index: 2; */

    /* Change this back to beige at the end */
    background: pink;
}

.circle-container {
    transform-origin: center center;
    transform: rotate(-90deg) translate(0, -45%);

    /* position: fixed;
    top: 10vh; */

    position: absolute;
    top: 7.5vh;

    left: 50%;
    width: 90%;
    max-width: 950px;
    max-height: 950px;
    margin-bottom: 8%;
    z-index: 7;
}

svg {
    position: relative;    
    overflow: visible;
}

svg text#fontAwesome {
    text-anchor: middle;
    font-size: 2.4em;
    transform: rotate(90deg);
}

svg path {
    transform: rotate(90deg) scale(0.33) translate(-12.5%, -13%);
}

svg path#smallerIcon {
    transform: rotate(90deg) scale(0.28) translate(-12.5%, -13%);
}

svg g g#innerGroup {
    transition: 0.25s;
}

svg g g#innerGroup:hover {
    transform: scale(1.5);
}

#middleTextHeader {
    font-size: 2.5em;
    font-family: 'Oswald';
    font-weight: 800;
    text-transform: uppercase;    
    fill: #CC5500;  
    text-anchor: middle;
    transform: rotate(90deg);
} 

#middleTextBody {
    font-family:'Oswald';
    font-size: 1.5em;
    font-weight: 400;
    transform: rotate(90deg);
    text-anchor: middle;
}

img {    
    position: absolute;
    width: 40%;
    max-width: 780px;
}

#robot {    
    bottom: 93vh;
    left: -110px;    
}

#robotTwo {
    bottom: 384vh;
    right: -3210px;
}

.fade-in {
    opacity: 0;
    transition: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.fade-in.show {
    opacity: 1;
}

.radial {
    position: fixed;
    top: 0.5vw;
    width: 100%;
    height: 100%;
    background: repeating-radial-gradient(
        circle
        ,#FFBD4D
        ,#FFBD4D 25%
        ,beige calc(25% + 1px)
        ,beige 50%
        ,#FFBD4D calc(50% + 1px)
        ,#FFBD4D 75%
        ,beige calc(75% + 1px)
        ,beige 100%
    );
}

@media (max-width: 750px) {
   #skillsSection {
       height: 175vh;
   }
}