<div>
    <div class="block-reveal-container">
        <h1 class="block-effect" style="--td: 1.2s">
            <div class="block-reveal block-header-text" style="--bc: #FFDE72; --d: .1s">Header 1</div>
            <div class="block-reveal block-body-text" style="--bc: #FFBD4D; --d: .5s;">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
            </div>
    
            <div class="block-reveal block-header-text" style="--bc: #E8A653; --d: .9s">Header 2</div>
            <div class="block-reveal block-body-text" style="--bc: #CC5500; --d: 1.3s;">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
            </div>    
        </h1>
          
          <!-- <div class="info">
            <p>Change --td (total duration) to increase/decrease the time of the effect in HTML panel.</p>
          </div> -->
    </div>    
</div>