<section>
    <!-- <div class="circle" name="parallax" data-rate="-0.5" data-direction="vertical"></div>
    <div class="test-container">
        <h1 class="test-text" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal">Welcome To</h1>
        <h1 class="test-text" name="parallax" data-rateY="0" data-rateX="-0.5" data-direction="horizontal"><strong>Conor's Resume</strong></h1>
        <h1 class="test-text" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal"><em>Website</em></h1>
    </div> -->
    
    <div class="circle" name="parallax" data-rate="-0.3" data-direction="vertical"></div>
    <div class="text-container">
        <h1 class="title" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal">Welcome To</h1>
        <h1 class="title" name="parallax" data-rateY="0" data-rateX="-0.5" data-direction="horizontal"><strong>Conor's Resume</strong></h1>
        <h1 class="title" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal"><em>Website</em></h1>
    </div>

    <div name="parallax" class="contact-container" data-rate="-0.3" data-direction="vertical">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fas fa-envelope-square"></i>
    </div>
</section>
