/* .text-container {    
    text-align: justify;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.text-container {
    position: absolute;
    width: auto;
    top: 36vh;
    right: 27vw;
    z-index: 1;
    transform: rotate(-25deg);
}

.title { 
    text-align:center;
    font-size: 6.5vw;
    font-family:'Oswald';
    font-weight:300;
    text-transform:uppercase;
    line-height:1.2em;
    margin:0;
    color:#CC5500;
}

/* .circle {
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    border-radius: 50%;
    background-color: #FFBD4D;
} */

#inside {
    display: flex;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.circle-container {
    width: 30%;
    height: 300px;
    position: absolute;
    max-width: 30%;
    bottom: 41vh;
    z-index: 0;
}

.circle {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background: #FFBD4D;
}

img {    
    position: absolute;
    width: 45%;
    max-width: 45%;
    top: 3vw;   
}

#robot {
    transform: rotate(35deg);
    left: -22vw;
}

#robot2 {
    transform: rotateY(180deg) rotate(35deg);
    right: -22vw;
}

.laser-beam {
    width: 1%;
    height: 80%;
    background: green;
    position: absolute;
    top: -20vh;
    left: 63vh;
    transform: rotate(70deg);
}