.text-container {
    position: absolute;
    width: auto;
    top: 26vh;
    right: 27vw;
    z-index: 1;
    transform: rotate(-25deg);
}

.title { 
    text-align:center;
    font-size: 6.5vw;
    font-family:'Oswald';
    font-weight:300;
    text-transform:uppercase;
    line-height:1.2em;
    margin:0;
    color:#CC5500;
    /* color: #E8A653; */
}

.circle {
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    border-radius: 50%;
    background-color: #FFBD4D;
}

#inside {
    display: flex;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.contact-container {  
    position: absolute;
    bottom: 3.5vw;
    right: 43.4vw;
    z-index: 1;
  }
  
  .fab, .fas {
    font-size: 3rem;
    padding-right: 14px;
  }
  
.fab:hover, .fas:hover {
    color: #CC5500
}


/* Figure out the best way to center the text and have it resize */
/* .test-container {    
    position: relative;
    text-align: center;
    transform: rotate(-25deg);
}

.test-text { 
    text-align:center;
    font-size: 6.5vw;
    font-family:'Oswald';
    font-weight:300;
    text-transform:uppercase;
    line-height:1.2em;
    margin:0;    
    color: #E8A653;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */