<section id="homeSection" style="background: beige">    
    <div class="wrapper">
        <div class="circle" name="parallax" data-rate="-0.3" data-direction="vertical"></div>
        <div class="stage">
            <h1 class="title" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal">Welcome To</h1>
            <h1 class="title" name="parallax" data-rateY="0" data-rateX="-0.5" data-direction="horizontal"><strong>Conor's Resume</strong></h1>
            <h1 class="title" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal"><em>Website</em></h1>
        </div>
    </div>

    <!-- <div name="parallax" class="contact-container" data-rate="-0.3" data-direction="vertical"> -->
    <div name="parallax" class="contact-container" data-rate="-0.3" data-direction="vertical" data-section="home">
        <a target="_blank" href="https://www.linkedin.com/in/conor-walsh-96b47a151/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/conor.walsh.568/">
            <i class="fab fa-facebook-square"></i>        
        </a>
        <a target="_blank" href="https://www.instagram.com/walshioh/?hl=en">
            <i class="fab fa-instagram"></i>
        </a>
        <a target="_blank" href="https://github.com/ConorWalsh18">
            <i class="fab fa-github"></i>
        </a>
    </div>
</section>