.flex-container {    
    text-align: justify;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    position: absolute;
    width: auto;
    top: 30vh;
    right: 27vw;
    z-index: 1;
    transform: rotate(-25deg);
}

.title { 
    text-align:center;
    /* font-size: 6.5vw; */
    /* font-size: 10.5vh; */
    font-size: 9em;
    font-family:'Oswald';
    font-weight:300;
    text-transform:uppercase;
    line-height:1.2em;
    margin:0;
    color:#CC5500;
    white-space: nowrap;
}

.circle-container {
    width: 30%;
    height: 300px;
    position: absolute;
    max-width: 30%;
    bottom: 50vh;
    z-index: 0;
}

.circle {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background: #FFBD4D;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 700px;
    max-width: 800px;
    margin: 50px;
    perspective: 800px;
    perspective-origin: 50% 50%;
    position: relative;
}

.stage {
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-25deg);
}

.contact-container {  
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate3d(-50%, -50%, 0);
    margin-top: 430px;
    z-index: 1;
    white-space: nowrap;
  }

.fab, .fas {
    font-size: 3.5rem;
    padding-right: 14px;
}

.fab:hover, .fas:hover {
    color: #CC5500
}

a {
    color: black;
}

@media (max-height: 800px) {
    .title {        
        font-size: 6em;
    }

    .contact-container {
        margin-top: 280px;
    }
}

@media screen and (max-width: 900px) and (min-height: 800px){
    .title {        
        font-size: 14vw;
    }
}

@media (max-width: 500px) {
    .title {        
        font-size: 3em;
    }

    .stage {
        left: 48%;
    }

    .contact-container {
        margin-top: 32vw;
        left: 53%;
    }

    .wrapper {
        margin-bottom: 175px;
    }

    .fab, .fas {
        font-size: 2.2rem;
        padding-right: 10px;
    }
}