<section id="homeSection" style="background: beige">    
    <!-- <div class="circle" name="parallax" data-rate="-0.3" data-direction="vertical"></div> -->
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="text-container">
        <h1 class="title" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal">Welcome To</h1>
        <h1 class="title" name="parallax" data-rateY="0" data-rateX="-0.5" data-direction="horizontal"><strong>Conor's Resume</strong></h1>
        <h1 class="title" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal"><em>Website</em></h1>
    </div>
    
    <!-- <div class="text-container">
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div id="inside">
            <h1 class="title" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal">Welcome To</h1>
            <h1 class="title" name="parallax" data-rateY="0" data-rateX="-0.5" data-direction="horizontal"><strong>Conor's Resume</strong></h1>
            <h1 class="title" name="parallax" data-rateY="0" data-rateX="0.5" data-direction="horizontal"><em>Website</em></h1>
        </div>
    </div> -->
    <!-- <img src="../../assets/retro_robot.png" id="robot" />
    <img src="../../assets/retro_robot.png" id="robot2" /> -->
</section>
