<!-- TODO: Make this it's own component -->
<section class="flex-section-seperator" id="parallaxImageTransition">
    <!-- TODO: add more images to both image sliders (probably want to do this in photoshop)  -->
    <div class="image-container">
        <div class="repeat-image" id="femaleWinking" name="parallax" data-rateY="0" data-rateX="0.7" data-direction="horizontal"></div>
        <div class="repeat-image" id="manSmiling" name="parallax" data-rateY="0" data-rateX="-0.7" data-direction="horizontal"></div>
    </div>
</section>