<div class="container-fluid vertical-center-container flex-column" style="height: 50vh !important">
    <div class="row justify-content-center align-items-center text-center my-5">
        <div class="col-sm-12">
            <h1>Personal</h1>
        </div>
        <div class="col-sm-12">
            <h1>Projects</h1>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div class="test-square"></div>
        </div>
        <div class="col-4">
            <div class="test-square"></div>
        </div>
        <div class="col-4">
            <div class="test-square"></div>
        </div>
        
        <!-- <div class="col-sm-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div style="background: green;"></div>
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1>
                    <p>Architect & Engineer</p>
                    <p>We love that guy</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">                    
                    <div style="background: green;"></div>
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1>
                    <p>Architect & Engineer</p>
                    <p>We love that guy</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">                    
                    <div style="background: green;"></div>
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1>
                    <p>Architect & Engineer</p>
                    <p>We love that guy</p>
                  </div>
                </div>
            </div>
        </div> -->
    </div>
</div>