<div id="projectSection" class="container-fluid vertical-center-container flex-column my-5" data-always="true">
    <!-- <div class="row justify-content-center align-items-center text-center my-5 fade-and-move-in" data-partial="true">
        <div class="col-sm-12">
            <h1>Personal Projects</h1>
        </div>
    </div> -->

    <!-- <div class="row justify-content-center align-items-center mb-5 fade-and-move-in flex-column text-center">
      <div class="col-12">
        <h1 class="title text-center">Personal</h1>
      </div>
      <div class="col-12">
        <h1 class="title text-center mb-5" id="bottom-title-text">Projects</h1>
      </div>
    </div> -->

    <div class="row justify-content-center align-items-center mb-3 fade-and-move-in flex-column text-center">
      <div class="col-12">
        <div class="title-box" style="border-color: #007fcc;">
          <h1 class="title text-center" id="projects-title">Projects</h1>
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mb-3 fade-and-move-in flex-column text-center">
      <div class="col-12">
        <p class="sub-header">Click the cards to learn more about my personal projects</p>        
      </div>
    </div>
    
    <div class="row justify-content-center align-items-center flex-column" id="project-card-row">
      <div class="col-12 col-lg-4 fade-and-move-in" data-always="true">
        <div class="scene scene--project-card">
          <div class="project-card">
            <div class="project-card__face project-card__face--front-1">            
              <img src="../../assets/drip-factory-icon.png" class="front-card-image">
              <h2 class="mb-5">The Drip Factory</h2>
            </div>
            <div class="project-card__face project-card__face--back">
              <div class="card">
                <img class="card-img-top img-fluid play-button mt-3" src="../../assets/drip-factory-play-button.png" id="play-video" name="drip-factory-video">
                <div class="card-img-top demo-video hide mt-3" id="drip-factory-video">
                  <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item">
                      <video controls>
                         <source src="../../assets/drip-factory-demo.mp4" type="video/mp4">
                       </video>
                    </div>
                  </div>
                </div>                
                <div class="card-body">
                  <h3 class="card-title mb-4 back-header-1">The Drip Factory</h3>                  
                  <p class="card-text">
                    The Drip Factory is a chrome extension I created using JavaScript and jQuery that automatically buys items from Supreme,
                    Palace, and Adidas.                    
                  </p>                  
                </div>
                <a target="_blank" href="https://github.com/ConorWalsh18/The-Drip-Factory" class="btn btn-primary btn-primary-1 btn-lg" id="github-card-button">Github Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 fade-and-move-in" data-always="true">
        <div class="scene scene--project-card">
          <div class="project-card">
            <div class="project-card__face project-card__face--front-2">
              <img src="../../assets/pycrop.png" class="front-card-image">
              <h2 class="mb-5" style="line-height: 0.75;">PyCrop</h2>
            </div>
            <div class="project-card__face project-card__face--back">
              <div class="card">
                <img class="card-img-top img-fluid play-button mt-3" src="../../assets/pycrop-play-button.png" id="play-video" name="pycrop-video">
                <div class="card-img-top demo-video hide mt-3" id="pycrop-video">
                  <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item">
                      <video controls>
                         <source src="../../assets/pycrop-demo.mp4" type="video/mp4">
                       </video>
                    </div>
                  </div>
                </div>                
                <div class="card-body">
                  <h3 class="card-title mb-4 back-header-2">PyCrop</h3>                  
                  <p class="card-text">                    
                    PyCrop is a simple tool I created that dynamically crops photos based on the location of specific colors in a photo using Python.
                  </p>                                    
                </div>
                <a target="_blank" href="https://github.com/ConorWalsh18/PyCrop" class="btn btn-primary btn-primary-2 btn-lg" id="github-card-button">Github Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 fade-and-move-in" data-always="true">
        <div class="scene scene--project-card">
          <div class="project-card">
            <div class="project-card__face project-card__face--front-3">            
              <img src="../../assets/angular-sandbox-alt.png" class="front-card-image">
              <h2 class="mb-5" style="line-height: 5rem;">Angular Sandbox</h2>
            </div>
            <div class="project-card__face project-card__face--back">
              <div class="card">
                <img class="card-img-top img-fluid play-button mt-3" src="../../assets/angular-sandbox-play-button.png" id="play-video" name="angular-sandbox-video">
                <div class="card-img-top demo-video hide mt-3" id="angular-sandbox-video">
                  <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item">
                      <video controls>
                         <source src="../../assets/angular-sandbox-demo.mp4" type="video/mp4">
                       </video>
                    </div>
                  </div>
                </div>                
                <div class="card-body">
                  <h3 class="card-title mb-4 back-header-3">Angular Sandbox</h3>                  
                  <p class="card-text">                    
                    I created this Angular Sandbox website to help me test, practice and get a better understanding of Angular concepts, CSS, HTML, and PHP.
                  </p>                  
                </div>
                <a target="_blank" href="https://github.com/ConorWalsh18/AngularTestWebsite" class="btn btn-primary btn-primary-3 btn-lg" id="github-card-button">Github Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

