<div class="container-fluid vertical-center-container flex-column my-5">
    <div class="row justify-content-center align-items-center text-center my-5">
        <div class="col-sm-12">
            <h1>Personal</h1>
        </div>
        <div class="col-sm-12">
            <h1>Projects</h1>
        </div>
    </div>
    
    <div class="row justify-content-evenly align-items-center flex-column" id="project-card-row">
      <div class="col-12 col-lg-4">
        <div class="scene scene--project-card">
          <div class="project-card">
            <div class="project-card__face project-card__face--front-1">              
              <img src="../../assets/drip-factory-icon.png" class="front-card-image">
              <h2 class="mb-5">The Drip Factory</h2>
            </div>
            <div class="project-card__face project-card__face--back">
              <div class="card">                
                <img class="card-img-top" src="../../assets/image_band_bottom.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="scene scene--project-card">
          <div class="project-card">
            <div class="project-card__face project-card__face--front-2">              
              <img src="../../assets/pycrop.png" class="front-card-image">
              <h2 class="mb-5" style="line-height: 0.75;">PyCrop</h2>
            </div>
            <div class="project-card__face project-card__face--back">
              <div class="card">                
                <img class="card-img-top" src="../../assets/image_band_bottom.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="scene scene--project-card">
          <div class="project-card">
            <div class="project-card__face project-card__face--front-3">              
              <img src="../../assets/angular-sandbox-alt.png" class="front-card-image">
              <h2 class="mb-5" style="line-height: 5rem;">Angular Sandbox</h2>
            </div>
            <div class="project-card__face project-card__face--back">
              <div class="card">                
                <img class="card-img-top" src="../../assets/image_band_bottom.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

