$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #FFB900;
$color-secondary-dark: #FF7730;
$color-tertiary-light: #2998FF;
$color-tertiary-dark: #5643FA;

.scene {
  max-width: 100%;
  width: 350px;
  height: 500px;
  margin: 40px 0;
  perspective: 600px;
}

.project-card {
  //Making this 101% gets rid of the issue where a thin white line shows up on the right side of the card
  width: 101%;
  height: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border-radius: 0.25rem;
  -moz-box-shadow: 6px 6px 12px -2px grey;
  -webkit-box-shadow: 6px 6px 12px -2px grey;
  box-shadow: 6px 6px 12px -2px grey;
}

.project-card.is-flipped {
  transform: rotateY(-180deg);
  -moz-box-shadow: -6px 6px 12px -2px grey;
  -webkit-box-shadow:- 6px 6px 12px -2px grey;
  box-shadow: -6px 6px 12px -2px grey;
}

.project-card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;  
  border-radius: .25rem;
}

.project-card__face--front {  
  &-1 {
    background: #8bc34a;
  }

  &-2 {
    // background: #ff9800;
    background: #CC5500;
  }
  
  &-3 {
    background: rgb(0, 170, 240);
  }
}

.project-card__face--back {  
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  border: none !important;
}

.front-card-image {
  height: 160px;
}

.project-card h2 {
  color: white;
  font-size: 2.5rem;
}

@media (min-width: 992px) {
  #project-card-row {
    flex-direction: row !important;
  }
}

@media (min-width: 1276px) {
  #project-card-row {
    flex-wrap: nowrap;
    grid-gap: 25px;
    margin-right: 10px;
  }
}