.circle-container {
    transform-origin: center center;
    transform: rotate(-90deg);
    position: relative;
    
    /* 30vh is perfect with no parallax scrolling */
    /* bottom: 30vh; */

    /* 95vh works with 0.35 rate */
    /* bottom: 95vh; */
    
    /* bottom: 138vh; */
    bottom: 145vh;
    left: 2.5vw;
    width: 60%;
    max-width: 750px;
    max-height: 750px;
    margin-bottom: 8%; 
}

svg {
    position: relative;    
    /* width: 70%;
    height: 70%; */
    overflow: visible;
}

svg text#fontAwesome {
    text-anchor: middle;
    font-size: 2.4em;
    transform: rotate(90deg);
}

svg path {
    transform: rotate(90deg) scale(0.33) translate(-12.5%, -13%);
}

svg path#smallerIcon {
    transform: rotate(90deg) scale(0.28) translate(-12.5%, -13%);
}

svg g g#innerGroup {
    transition: 0.25s;
}

svg g g#innerGroup:hover {
    transform: scale(1.5);
}

#middleTextHeader {
    font-size: 2.5em;
    font-family: 'Oswald';
    font-weight: 800;
    text-transform: uppercase;    
    fill: #CC5500;  
    text-anchor: middle;
    transform: rotate(90deg);
} 

#middleTextBody {
    font-family:'Oswald';
    font-size: 1.5em;
    font-weight: 400;
    transform: rotate(90deg);
    text-anchor: middle;
}