// If this works add it to other/future sections
.work-experience-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content: center;
    height: 95vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    justify-content: center;
}

.title-text-container {
    font-family: "Oswald";
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 9vw;
    text-align: center;
    width: 100%;    
    flex: 1;
    padding-top: 8vw;
}

.body-text-container {
    width: 100%;
    margin: 0;
    font-family: "Oswald";
    font-size: 2.5vw;
    flex: 0 0 70%;
    display: flex;
    transform: scale(0.7);
    padding-top: 5vw;
    text-align: justify;
}

.title {
    text-shadow: 11px 11px 0 #CC5500;
    font-weight: 700;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #CC5500;
    margin-block: 0px;
    color: #F5F5DC;
}

#experienceText {
    line-height: 4.7vw;
}

#workGuy {
    position: absolute;
    bottom: 61vh;
    width: 25%;
    max-width: 250px;
}

.fade-and-move-in {
    transform: translateY(50px);
    opacity: 0;
    transition: transform, opacity;
    transition-duration: .8s;
    transition-timing-function: ease;  

    &.show{
        transform: translateY(0);
        opacity: 1;
    }
}

.header {
    font-size: 5vw;
    font-weight: 700;
    text-decoration: underline 7.5px #CC5500;
    padding-bottom: 20px;
    text-align: center;
}

// .inner-body-text-container {
//     background: #DAD870;
//     border-radius: 5%;
//     height: 100%;
//     padding: 50px;
//     border: 15px solid #CC5500;
// }

.inner-body-text-container {
    height: 100%;
    padding: 50px;
    border: 5px solid #CC5500;
    box-shadow: 30px 30px 0 #CC5500;
}

.left-inner-body {
    margin-right: 4vw;
}

.inner-body-bottom-text {
    height: 30%;
}

@media only screen and (min-width: 1650px) {
    .title-text-container {
        font-size: 8vw;
        line-height: 7vw;
    }
    .body-text-container {
        font-size: 2vw;
    }
    .header {
        font-size: 3.7vw;
    }
}

@media only screen and (min-width: 2350px) {
    .title-text-container {
        font-size: 7vw;
        line-height: 5vw;
    }
    .body-text-container {
        font-size: 1.5vw;
    }
    .header {
        font-size: 2.7vw;
    }
}