<!-- Change background color back to beige when done -->
<section id="workExperienceSection">
    <div class="work-experience-container">        
        <div class="title-text-container">
            <div class="title fade-and-move-in">Work</div>
            <div class="title fade-and-move-in" id="experienceText">Experience</div>
        </div>        
    
        <div class="body-text-container">
            <div class="inner-body-text-container left-inner-body fade-and-move-in" data-partial="true">
                <div class="header fade-and-move-in">Header 1</div>
                <div class="fade-and-move-in">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</div>
                <div class="fade-and-move-in inner-body-bottom-text">Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</div>
            </div>

            <div class="inner-body-text-container fade-and-move-in" id="partial" data-partial="true">
                <div class="header fade-and-move-in">Header 2</div>
                <div class="fade-and-move-in">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</div>
                <div class="fade-and-move-in inner-body-bottom-text">Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</div>
            </div>            
        </div>
    </div>

    <!-- <img src="../../assets/man_announcing.png" id="workGuy" /> -->
</section>