<section style="background-color: beige">
    <div class="ternary-system">
        <div name="parallax" class="sun small" data-rate="0.5" data-direction="vertical"></div>
        <div name="parallax" class="sun medium" data-rateY="0.35" data-rateX="-0.25" data-direction="horizontal"></div>
        <div name="parallax" class="sun big" data-rate="-0.3" data-direction="vertical"></div>
        <div name="parallax" class="sun super-big" data-rate="0.5" data-direction="vertical"></div>
      </div>
      <div name="parallax" class="sand" data-rate="-0.125" data-direction="vertical"></div>
      <div name="parallax" class="pyramid" data-rateY="0" data-rateX="0.3" data-direction="horizontal"></div>
      <div name="parallax" class="text" data-rate="0.5" data-direction="vertical">
        <h1 name="parallax" class="title">Welcome To <strong>Conor's Resume</strong><em>Website</em></h1>
      </div>
      
      <div name="parallax" class="contact-container" data-rate="0.5" data-direction="vertical">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fas fa-envelope-square"></i>
      </div>
      <div>Test</div>
</section>