<div id="arrowSection" data-always="true">
    <div class="text-container">
        <div class="small-text fade-and-move-in mb-5">Hey, what's up?</div>

        <div class="big-screen-text-container">
            <div class="solid-text fade-and-move-in">Welcome to my</div>
            <div class="outline-text fade-and-move-in">website. Keep scrolling</div>
            <div class="solid-text fade-and-move-in">to find out more about me.</div>
            <div class="outline-text fade-and-move-in">Enjoy.</div>
        </div>

        <div class="small-screen-text-container fade-and-move-in" data-partial="true">
            Welcome to my
            <span class="outline-text">website. Keep </span>
            scrolling to
            <span class="outline-text">find out more </span>
            about me.
            <span class="outline-text"> Enjoy.</span>
        </div>
    </div> 

    <svg viewBox="0 0 522.53 381.93" class="arrow-transition first-arrow" *ngIf="showArrowTransition">
        <g>
            <g>
                <path d="M522,123.71c-.06,19.21,0,236.88,0,256.09,0,.29,0,.58-.08,1.1-.86-.37-1.6-.65-2.3-1Q391.41,320,263.23,260a4.1,4.1,0,0,0-4,0Q130.89,320.1,2.49,380.1c-.68.31-1.33.67-2,1V122.17c.63-.24,1.29-.44,1.9-.73Q130.68,61.49,259,1.51a14,14,0,0,0,1.61-1h1.27a15.41,15.41,0,0,0,1.65,1Z"
                        fill="beige" stroke="#CC5500" stroke-miterlimit=10 stroke-width="2px" />
            </g>
        </g>
    </svg>

    <svg viewBox="0 0 522.53 381.93" class="arrow-transition second-arrow" *ngIf="showArrowTransition">
        <g>
            <g>
                <path d="M522,123.71c-.06,19.21,0,236.88,0,256.09,0,.29,0,.58-.08,1.1-.86-.37-1.6-.65-2.3-1Q391.41,320,263.23,260a4.1,4.1,0,0,0-4,0Q130.89,320.1,2.49,380.1c-.68.31-1.33.67-2,1V122.17c.63-.24,1.29-.44,1.9-.73Q130.68,61.49,259,1.51a14,14,0,0,0,1.61-1h1.27a15.41,15.41,0,0,0,1.65,1Z"
                        fill="beige" stroke="#CC5500" stroke-miterlimit=10 stroke-width="3px" />
            </g>
        </g>
    </svg>

    <svg viewBox="0 0 522.53 381.93" class="arrow-transition third-arrow" *ngIf="showArrowTransition">
        <g>
            <g>
                <path d="M522,123.71c-.06,19.21,0,236.88,0,256.09,0,.29,0,.58-.08,1.1-.86-.37-1.6-.65-2.3-1Q391.41,320,263.23,260a4.1,4.1,0,0,0-4,0Q130.89,320.1,2.49,380.1c-.68.31-1.33.67-2,1V122.17c.63-.24,1.29-.44,1.9-.73Q130.68,61.49,259,1.51a14,14,0,0,0,1.61-1h1.27a15.41,15.41,0,0,0,1.65,1Z"
                        fill="beige" stroke="#CC5500" stroke-miterlimit=10 stroke-width="5px" />
            </g>
        </g>
    </svg>

    <svg viewBox="0 0 522.53 381.93" class="arrow-transition fourth-arrow" *ngIf="showArrowTransition">
        <g>
            <g>
                <path d="M522,123.71c-.06,19.21,0,236.88,0,256.09,0,.29,0,.58-.08,1.1-.86-.37-1.6-.65-2.3-1Q391.41,320,263.23,260a4.1,4.1,0,0,0-4,0Q130.89,320.1,2.49,380.1c-.68.31-1.33.67-2,1V122.17c.63-.24,1.29-.44,1.9-.73Q130.68,61.49,259,1.51a14,14,0,0,0,1.61-1h1.27a15.41,15.41,0,0,0,1.65,1Z"
                        fill="beige" stroke="#CC5500" stroke-miterlimit=10 stroke-width="5px" />
            </g>
        </g>
    </svg>

    <svg viewBox="0 0 522.53 381.93" class="arrow-transition fifth-arrow" id="finalArrow">
        <g>
            <g>
                <path d="M522,123.71c-.06,19.21,0,236.88,0,256.09,0,.29,0,.58-.08,1.1-.86-.37-1.6-.65-2.3-1Q391.41,320,263.23,260a4.1,4.1,0,0,0-4,0Q130.89,320.1,2.49,380.1c-.68.31-1.33.67-2,1V122.17c.63-.24,1.29-.44,1.9-.73Q130.68,61.49,259,1.51a14,14,0,0,0,1.61-1h1.27a15.41,15.41,0,0,0,1.65,1Z"
                        fill="beige" stroke="#CC5500" stroke-miterlimit=10 stroke-width="10px"/>
            </g>
        </g>
    </svg>
</div>




<!-- <img src="https://uploads-ssl.webflow.com/5d43138a62513bf6a05d9974/5d4327139da88984e974025c_CHEVRONNN.svg" class="arrow first-arrow" />
<img src="https://uploads-ssl.webflow.com/5d43138a62513bf6a05d9974/5d4327139da88984e974025c_CHEVRONNN.svg" class="arrow second-arrow" />
<img src="https://uploads-ssl.webflow.com/5d43138a62513bf6a05d9974/5d4327139da88984e974025c_CHEVRONNN.svg" class="arrow third-arrow" />
<img src="https://uploads-ssl.webflow.com/5d43138a62513bf6a05d9974/5d4327139da88984e974025c_CHEVRONNN.svg" class="arrow fourth-arrow" />
<img src="https://uploads-ssl.webflow.com/5d43138a62513bf6a05d9974/5d4327139da88984e974025c_CHEVRONNN.svg" class="arrow fifth-arrow" /> -->