* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Oswald';

    background-color: #F5F5DC;
    /* background-color: #f5efd7; */
}

section {
    position: relative;
    width: 100%;    
    /* height: 100vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #F5F5DC; */
    /* background-color: #f5efd7; */

    z-index: 1;
}

h1 {
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
} 

.section-seperator {
    width: 100%;
    height: 25vh;
    background-color: #F5F5DC;
    z-index: 0;
}

.fade-and-move-in {    
    transform: translateY(50px);
    opacity: 0;
    transition: transform, opacity;
    transition-duration: .8s;
    transition-timing-function: ease;
}

.fade-and-move-in.show {
    transform: translateY(0);
    opacity: 1;
}

.test-line {
    width: 100%;
    height: 0.5%;
    position: absolute;
    top: 139.3vh;
    background-color: black;
}


/* Bootstrap Refactor CSS */

.full-page-container {
    height: 100vh !important;
}

/* Need to give the container element a height for this to work (e.g. h-100, h-75, h-50, etc.) */
.vertical-center-container {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    /* margin-top: 8rem !important; */
}

.header {
    color: #CC5500;
    font-size: 7rem;
    font-weight: bold;
}

p, em {
    font-family:'Oswald';    
    font-weight: 100;    
    color: black;
    font-size: 1.35rem;
}

.fab:hover, .fas:hover, #icon-container:hover {
    color: #CC5500;    
}

a {
    text-decoration: none;
}

#contactSection, #projectSection, #skillsSection {
    margin-top: 10rem !important
}

#resumeSection {
    margin-top: 5rem !important;
}

/* .title-box {
    border-top: 8px solid;
    border-bottom: 8px solid;
    padding-left: 45px;
    padding-right: 45px;
} */

.title {    
    font-size: 12rem;
    font-weight: 700;  
    -webkit-text-stroke: 2px;    
    color: #F5F5DC;
    margin-block: 0px;

    /* Only use this if we're using the title-box class */
    /* margin-top: -28px; */
}

/* #about-me-title {
    text-shadow: 11px 11px 0 #007fcc;
    -webkit-text-stroke-color: #007fcc;    
}

#skills-title {
    text-shadow: 11px 11px 0 black;
    -webkit-text-stroke-color: black;
}

#projects-title {
    text-shadow: 11px 11px 0 #648939;
    -webkit-text-stroke-color: #648939;    
}

#contact-title {
    text-shadow: 11px 11px 0 #64021B;
    -webkit-text-stroke-color: #64021B;
}

#resume-title {
    text-shadow: 11px 11px 0 #cc5500;
    -webkit-text-stroke-color: #cc5500;
}

@media (max-width: 530px) {
    .title {
        font-size: 5.5rem !important;
    }

    #about-me-title {
        text-shadow: 5px 5px 0 #007fcc !important;
        font-size: 7.5rem !important;
    }

    #skills-title {        
        text-shadow: 5px 5px 0 black !important;
    }

    #projects-title {        
        text-shadow: 5px 5px 0 #648939 !important;
    }
    
    #contact-title {        
        text-shadow: 5px 5px 0 #64021B !important;
    }
}

@media (max-width: 768px) {
    .title {        
        font-size: 8rem;
    }

    #about-me-title {
        text-shadow: 7px 7px 0 #007fcc;
        font-size: 10rem;
    }
    
    #skills-title {
        text-shadow: 7px 7px 0 black;
    }
    
    #projects-title {
        text-shadow: 7px 7px 0 #648939;        
    }
    
    #contact-title {
        text-shadow: 7px 7px 0 #64021B;        
    }
    
    #resume-title {
        text-shadow: 7px 7px 0 #cc5500;        
    }
}

@media (min-width: 1000px) {
    .title {
        font-size: 12rem;
    }

    #about-me-title {        
        font-size: 15rem;
    }
} */



#about-me-title, #skills-title, #projects-title, #contact-title, #resume-title {
    text-shadow: 11px 11px 0 black;
    -webkit-text-stroke-color: black;    
}

@media (max-width: 530px) {
    .title {
        font-size: 5.5rem !important;
    }

    #about-me-title {        
        font-size: 7.5rem !important;
    }

    #about-me-title, #skills-title, #projects-title, #contact-title, #resume-title {      
        text-shadow: 5px 5px 0 black !important;
    }    
}

@media (max-width: 768px) {
    .title {        
        font-size: 8rem;
    }

    #about-me-title {        
        font-size: 10rem;
    }
    
    #about-me-title, #skills-title, #projects-title, #contact-title, #resume-title {
        text-shadow: 7px 7px 0 black;
    }
    
}

@media (min-width: 1000px) {
    .title {
        font-size: 12rem;
    }

    #about-me-title {        
        font-size: 15rem;
    }
}